
input[type=number]{
    width: 75px;
} 



@media only screen and (max-width: 600px) {
    .services-banner-title h1 {
    font-size: 60px!important;
    font-weight: 900;
    margin-top: 210px;
    color: #fff;
}

.contact-banner-title h1
{
	font-size: 60px!important;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}

.newsletter-banner-title h1
{
	font-size: 47px!important;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}

.overlay-services {
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 35px;
    right: 0;
    height: 87%!important;
    width: 83%!important;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000c9;
    border-radius: 15px;
}

.contact-inner-text {
    margin: 50px 0px 0px 10px!important;
}


.contact-inner-text i {
    position: absolute;
    left: 23px!important;
    color: #f4482d;
}

.contact-inner-heading p {
    position: absolute;
    right: 28px!important;
    top: 30px;
}

.newsletter-inner {
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
    padding: 40px 20px 50px 15px!important;
    border-radius: 15px;
}

.news-img img {
    width: 290px!important;
    position: inherit!important;
    top: 22%;/
}

.news-text h1 {
    font-size: 43px!important;
    color: #000;
    margin-bottom: 0px;
}

.testimonials-banner-title h1 {
    font-size: 47px!important;
    font-weight: 900;
    margin-top: 210px;
    color: #fff;
}

}




.services-header
{
   background-image: url("../img/services-banner.jpg");
   padding:20px 0px 0px 0px;
   height: 350px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.services-banner-title h1
{
	font-size: 100px;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}


.servi-inside img
{
	/* width: 348px; */
	border-radius: 15px 15px 0px 0px;
}

.servi-inside
{
	padding: 0px;
	border: 1px solid #333;
	border-radius: 15px;
	margin-top: 25px;
}

.ser-bottom-text
{
	padding: 5px 20px 10px 20px;
}

.ser-bottom-text h6
{
   font-weight: bold;
   color: #000;
   margin: 20px 0px 20px 0px;
}


.services-main
{
	padding: 100px 0px 100px 0px;
}




.image-servic {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-services {
  position: absolute;
  top: 45px;
  bottom: 0;
  left: 35px;
  right: 0;
  height: 86%;
  width: 82%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000c9;
  border-radius:  15px;
}

.servi-inside:hover .overlay-services {
  opacity: 1;
}

.text-services {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:  100%;
}

.text-services p{
  
}


.ser-btn
{
	color: #fff;
	padding: 15px;
	border:1px solid#fff;
	margin: 15px;
	border-radius: 10px;
}

.ser-btn:hover
{
	color: #F35D22;
	padding: 15px;
	background-color: #fff;
	margin: 15px;
}


.red-hr
{
	width: 80px;
	border-bottom: 1px solid#f00;
}


.ser-inner-padd
{
	padding: 20px 20px 20px 20px;
}



.ststst
{
	position: sticky;
    top: 0!important; /* required */
}



.contact-header
{
   background-image: url("../img/contact-banner.jpg");
   padding:20px 0px 0px 0px;
   height: 350px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.contact-banner-title h1
{
	font-size: 100px;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}


.contact-main
{
	padding: 50px 0px 50px 0px;
}

.contact-inner-heading
{
	margin-top: 20px;
}

.contact-inner-heading h3
{
	color: #144C94;
}

.contact-inner-heading p
{
	position: absolute;
	right: 50px;
	top: 30px;
}


.contact-inner-text img
{
	max-width: 275px;
}

.contact-inner-text i
{
	position: absolute;
	left: 160px;
	color:  #f4482d;
}


.contact-inner-text p
{
	margin-left: 22px;
	margin-bottom: 12px;
}


.contact-inner-text
{
	margin: 50px 0px 0px 145px;
}

.contact-inner
{
	box-shadow: 0px 0px 20px -2px rgba(0,0,0,0.48);
	border-radius: 15px;
}


.contact-after
{
	padding: 0px 0px 10px 0px;
}

.contact-after img
{
	position: absolute;
	top: -217%;
	left:  50%;
	transform: translate(-65%);
}


.contact-after span
{
	color: #f4482d;
	font-weight: bold;
}

.btn-snd-lcn
{
	padding: 15px 15px 15px 15px;
	background-color: #f4482d;
	color: #fff;
	border-radius:  25px;
}


.red-hr-2
{
	width: 80px;
	border-bottom: 1px solid#f00;
	/* text-align: left; */
	float:  left;
}


.contact-selection
{
    position: absolute;
    right: 52px;
    top: 30px;
    border: none;
}



.tools-header
{
   background-image: url("../img/tools-banner.jpg");
   padding:20px 0px 0px 0px;
   height: 350px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.tools-banner-title h1
{
	font-size: 100px;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}


.tools-main
{
	padding: 50px 0px 50px 0px;
}


.tools-inner
{
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
	padding: 20px;
	border-radius: 15px;
	margin-top: 30px;
}



.tools-inner img
{
	margin: 0px auto;
}


.tools-inner h4
{
	color: #000;
	padding: 20px 0px 0px 0px;
}




.newsletter-header
{
   background-image: url("../img/news-banner.jpg");
   padding:20px 0px 0px 0px;
   height: 350px; 

    /* Create the parallax scrolling effect */
   background-attachment: fixed;
   /* background-position: center; */
   background-repeat: no-repeat;
}


.newsletter-banner-title h1
{
	font-size: 100px;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}


.newsletter-main
{
	padding: 50px 0px 50px 0px;
}


.btn-news
{
	padding: 15px 20px 15px 20px;
	background-color: #007bbc;
	color: #fff;
	border-radius: 12px;
}


.newsletter-inner

{
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
	padding: 40px 20px 50px 200px;
	border-radius: 15px;
}


.news-img img
{
	width: 376px;
	position: absolute;
	top: 22%;
}


.red-hr-3
{
	width: 80px;
	border-bottom: 1px solid#f00;
	position: absolute;
	top: 24%;
}


.news-text h1
{
	font-size: 53px;
	color: #000;
	margin-bottom:  0px;
}

.news-text h4
{
	font-size: 24px;
	color: #000;
}


.news-form
{
	margin-top: 40px;
}




.testimonials-header
{
   background-image: url("../img/testimonials-banner.jpg");
   padding:20px 0px 0px 0px;
   height: 350px; 

    /* Create the parallax scrolling effect */
   background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.testimonials-banner-title h1
{
	font-size: 100px;
	font-weight: 900;
	margin-top: 210px;
	color:  #fff;
}


.testimonials-main
{
	padding: 50px 0px 50px 0px;
}


.testi-all
{
   box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
   border-radius: 15px;
   padding: 10px 30px 10px 30px;
}

.testi-quotes
{
	margin-top: 20px;
}

.testi-text p
{
   margin-top: 20px;
}



/*--------------------------------------------------------------
               # SERVICES INNER PAGE
--------------------------------------------------------------*/
.services-i-header
{
	position:relative;
	padding-top:120px;
	background-image:url(../img/services-banner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.services-i-banner-title h1
{
	font-size: 100px;
    font-weight: 900;
    color: #fff;
	text-transform:uppercase;
}
.services-i-banner-title  
{
  position: relative;
  overflow: hidden;
   border-left: 1px solid #fff;
   border-right: 1px solid #fff;
}
.services-i-banner-title span
{
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  position: relative;
  padding: 0 20px;
  color:#fff;
}
.services-i-banner-title span:before,
.services-i-banner-title span:after {
  content: '';
  display: block;
  width: 1000px;
  position: absolute;
  top:0;
  border-top: 1px solid #fff;
}
.services-i-banner-title span:before {
  right: 100%;
}
.services-i-banner-title span:after {
  left: 100%;
}
.services-i-inner-heading
{     margin-top: 20px; }
.services-i-inner-heading h3 {
    color: #144C94;
}


.btn-ser-inn
{
	background-color: #0061a6;
	color: #fff;
	padding: 15px 25px 15px 25px;
	border-radius: 13px;
}





.packages-main
{
	padding: 50px 0px 50px 0px;
}

.carousel-item img
{
   border-radius: 15px;
}

.btn-in-serv-side
{
	background-color: #0061a6;
	color: #fff;
	padding: 12px 15px 12px 15px;
	border-radius: 5px;
}

.btn-in-serv-side-2
{
	border: 1px solid#0061a6;
	color: #0061a6;
	padding: 12px 20px 12px 20px;
	border-radius: 5px;
}


.btn-in-serv-side i
{
  font-size: 20px;
}

.btn-in-serv-side-2 i
{
  font-size: 20px;
}


.packages-form
{
	margin-top: 20px;
}


.btn-package-side
{
	color: #fff;
	background-color: #f67319;
	padding: 10px 30px 10px 30px;
	margin-top:  20px;
}




.table-career td

  {
    padding: 3px;
    vertical-align: top;
    font-size: 14px;
}


.career-content
{
  margin-top: 30px;
}

.career-content p
{
  margin-bottom: 10px;
}

.career-content ul li
{
  margin-top: 20px;
}

.btn-career
{
  padding: 15px 30px 15px 30px;
  background: linear-gradient(#0060a4, #01519a);
  color: #fff;
  border-radius: 12px;
  margin-top: 20px;transition: all 0.3s ease;
}

.btn-career:hover
{
  padding: 15px 30px 15px 30px;
  border: 1px solid#000;
  background: transparent;
  color: #00579e;
  border-radius: 12px;
  margin-top: 20px;
  transition: all 0.3s ease;
  
}


.btn-honey
{
  padding: 15px 30px 15px 30px;
  background-color: #00579e;
  color: #fff;
  border-radius: 12px;
  margin-top: 20px;
}


.promotions-tab
{
  padding: 50px 0px 50px 0px;
}

/*.tab-head-career
{
  position: relative;
  left:  38%;
}*/


.nav-tabs-pro .active
{
  background-color: #f4482d;
  color: #fff;
}

.nav-item-2
{
  border-right: 1px solid#999;
}

.nav-link-2
{
  color: #777;
  background-color: #dcdcdc;
  padding: 5px 10px 5px 10px;
}


.btn-group .active
{
  color: #000;
}

.btn-promo
{
  background-color: #e6e6e6;
  color: #4e4e4e;
  border: 1px solid #fff;
  padding: 10px 20px 10px 20px;
}


.btn-promo:hover
{
  background-color: #f4482d;
  color: #fff;
}


.active-2{
    background-color: #f4482d;
  color: #fff;
}






.image-promo {
  display: block;
  width: 100%;
  height: auto;
  border-radius:  15px;
}

.promo-overlay {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 16px;
  right: 0;
  height: 93%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000008c;
  border-radius: 15px;
}

.promo-inner-img:hover .promo-overlay {
  opacity: 1;
}

.promo-inner-img
{
  margin-top: 25px;
}

.promo-over-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:  100%;
}


.btn-pro-inner
{
  color: #f4482d;
  background-color: #fff;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;

}


.promo-over-text p
{
  margin-bottom: 10px;
}



.btn-group button:first-child
{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.btn-group button:last-child
{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}




.charter-inner-right h5
{
  color: #035099;
}

.charter-inner-right p
{
  margin-top: 20px;
}


.table-charter td

  {
    
vertical-align: top;
    
font-size: 14px;
}

.charter-inner-right
{
  padding: 50px 10px 10px 30px;
}

.charter-inner
{
  border-radius: 15px;
  -webkit-box-shadow: 0px -1px 19px 0px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px -1px 19px 0px rgba(0,0,0,0.48);
  box-shadow: 0px -1px 19px 0px rgba(0,0,0,0.48);
  margin-top: 35px;
}

.charter-inner img
{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.destinations-inner-right h5
{
  color: #035099;
}


.destinations-inner-right p
{
  margin-top: 20px;
  margin-bottom: 120px;
}

.dest-btn-1
{
  padding: 15px 25px 15px 25px;
  color: #fff;
  background-color: #035099;
  margin-right:  10px;
}

.dest-btn-2
{
  padding: 15px 25px 15px 25px;
  color: #fff;
  background-color: #f46321;
  margin-right:  10px;
}

.dest-btn-3
{
  padding: 15px 35px 15px 35px;
  color: #fff;
  background-color: #4a4a4d;
}

.destination-btn-cls
{
  position: absolute;
  bottom: 0;
}


.des-margi-top
{
  margin-top: 50px;
}


.btn-spa
{
  background-color: #00579e;
  color: #fff;
  padding: 15px 25px 15px 25px;
  border-radius: 13px;
}


.number-input
{
  padding: 10px 20px 10px 20px;
}

.insu-form
{
  margin-top: 20px;
}


.insu-form input
{
  padding: 10px 0px 10px 6px;
  border-radius: 8px;
  border:1px solid#999;
  font-size: 14px;
}


.packages-in-sect-1 i
{
  color: #ffac00;
}

.color-red
{
  color: #f4482d;
}

.packages-in-sect-1
{
  border: 1px solid#d4d4d4;
  border-radius: 15px;
  margin-top: 20px;
  padding-top: 15px;
}


.packages-in-sect-1 h6
{
  font-weight: bold;
  color: #000;
}
.mag-flag
{
  position: relative;
  left: 20px;
}
.mag-flag:before
{
  content: "\f024";
  position: absolute;
  font-family: FontAwesome;
  left: -20px;

}


.mag-location
{
  position: relative;
  left: 20px;
}
.mag-location:before
{
  content: "\f041";
  position: absolute;
  font-family: FontAwesome;
  left: -20px;

}

.mag-calender
{
  position: relative;
  left: 20px;
}
.mag-calender:before
{
  content: "\f073";
  position: absolute;
  font-family: FontAwesome;
  left: -20px;

}


.mag-plane
{
  position: relative;
  left: 35px;
}
.mag-plane:before
{
  content: "\f072";
  position: absolute;
  font-family: FontAwesome;
  left: -20px;

}


.pack-main-btn .active-3
{
  color: #e15327;
  box-shadow: inset 0 -2px 0 #e15327;
}


.btn-pack
{
  font-size: 14px;
  padding: 5px 5px 5px 5px;
  background-color: #fff;
  text-transform: none;
}

.btn-pack:hover
{
  background-color: #fff;
    color: #e15327;
}


.pack-inner-sect-2
{
  border: 1px solid#d2d2d2;
  border-radius: 15px;
  margin-top: 20px;
}

.pack-main-btn
{
  margin: 20px 0px 20px 0px;
}


.category1 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category2 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category3 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category4 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category5 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category6 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category7 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category8 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category9 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category10 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category11 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category12 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category13 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category14 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}


.category15 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}

.category16 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}

.category17 h6
{
  color: #00589e;
  margin-left:  28px;
  margin-top: 5px;
}



.category1 h6:after {
    content: '';
    display: block;
    width: 73%;
    position: absolute;
    top: 0.73em;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
    top: 13px;
    }


.category2 h6:after, .category3 h6:after {
    content: '';
    display: block;
    width: 72%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
 }   


.category2 p
{
  color: #655050;
}

.journey-lis 
{
  padding-left: 5px;
}

.journey-lis li
{
    position: relative;
    left: 0px;
    padding-left: 15px;
    font-size: 12px;
}

.journey-lis li:before
{
  content: "\f111";
  position: absolute;
  font-family: FontAwesome;
  left: 0px;
  top: 8px;
  font-size: 5px;
  color: red;
}




.category3 h6:after {
    content: '';
    display: block;
    width: 78%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
    }   


.table-packa-ge td
{
    padding: .75rem;
    vertical-align: top;
    /* width: 0%; */
    font-size: 14px;
}   



.category4 h6:after {
    content: '';
    display: block;
    width: 76%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
    } 



.table-4
{
  border: 1px solid#999;
  margin-bottom: 20px;
  margin-top: 20px;
}

  .table-4 .thead-dark-4 th {
    color: #fff;
    background-color: #0064a8;
    border-color: #32383e;
}  

.table-4 thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
}    

.table-4 td, .table-4 th {
    padding: 11px;
    vertical-align: top;
    border-top: 1px solid #a7a7a7;
    border-right:  1px solid#999;
    font-size: 14px;
}


.mr-cls-bottom
{
  margin-bottom: 30px;
}



.category5 h6:after {
    content: '';
    display: block;
    width: 78%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
    } 

.color-black
{
  color: #000;
}


.itinerary-inner
{
  margin-top: 50px;
}

.itinerary-inner-2
{
  margin-top: 125px;
}


.itinerary-inner-3
{
  margin-top: 125px;
}



.category6 h6:after {
    content: '';
    display: block;
    width: 82%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
 } 



.table-price-1 td {
    padding: 2px;
    vertical-align: top;
    font-size: 14px;
}




.table-5
{
  border: 1px solid#999;
  margin: 20px 0px 20px 0px;
}

  .table-5 .thead-dark-5 th {
    color: #fff;
    background-color: #0064a8;
    border-color: #32383e;
}  

.table-5 thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #dee2e6;
    text-align:  center;
}    

.table-5 td, .table-5 th {
    padding: 11px;
    vertical-align: top;
    border-top: 1px solid #a7a7a7;
    border-right:  1px solid#999;
    font-size: 14px;
    text-align:  left;
}




.category7 h6:after {
    content: '';
    display: block;
    width: 87%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
    } 





 
.journey-lis 
{
  padding-left: 5px;
}

.journey-lis li
{
    position: relative;
    left: 0px;
    padding-left: 15px;
    font-size: 14px;
}

.journey-lis li:before
{
  content: "\f111";
  position: absolute;
  font-family: FontAwesome;
  left: 0px;
  top: 8px;
  font-size: 5px;
  color: red;
}        



.category8 h6:after {
    content: '';
    display: block;
    width: 85%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
} 

.category9 h6:after {
    content: '';
    display: block;
    width: 71%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
}


.category10 h6:after {
    content: '';
    display: block;
    width: 74%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
} 



.category11 h6:after {
    content: '';
    display: block;
    width: 82%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
} 


.category12 h6:after {
    content: '';
    display: block;
    width: 73%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
} 


.category13 h6:after {
    content: '';
    display: block;
    width: 72%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
}

.category14 h6:after {
    content: '';
    display: block;
    width: 85%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
}

.category15 h6:after {
    content: '';
    display: block;
    width: 84%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
}

.category16 h6:after {
    content: '';
    display: block;
    width: 55%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
}

.category17 h6:after {
    content: '';
    display: block;
    width: 55%;
    position: absolute;
    top: 13px;
    right: 15px;
    border-top: 1px solid #999;
    border-top-style: dotted;
} 

.table-visa-1
{
  margin-bottom: 30px;
}

.table-visa-1 td {
    padding: 6px;
    vertical-align: top;
    font-size: 14px;
}



.table-contact-1 td {
    padding: 2px 20px 2px 5px;
    vertical-align: top;
    font-size: 14px;
}


.pack-tour
{
  padding: 10px;
  margin-top: 20px;
}

.pack-tour i
{
  padding-left: 20px;
}

.facebook-i
{
  color: #2f63af;
}


.instagram-i
{
  color: #f03668;
}


.twitter-i
{
  color: #1abaeb;
}

.google-i
{
  color: #ff0000;
}





.plan-btn-1
{
  color: #00569d;
  border: 1px solid#00569d;
  padding: 15px 30px 15px 30px;
  border-radius: 8px;
  margin:20px 0px 0px 50px;
}


.plan-btn-2
{
  color: #fff;
  background-color: #00569d; 
  padding: 15px 25px 15px 25px;
  border-radius: 8px;
  margin:20px 0px 0px 50px;
}





.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}

/*common slider css*/

.common-slider-insurance
{
  background-image: url("../img/travelinsurance.jpg");
  padding: 50px 0px 50px 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.prferedhotels {
    border-top: 1px solid #dadada;
    box-sizing: border-box;
    padding: 15px 0px 15px 10px;
    font-size: 13px;
    background-color: #fff;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.comm-sli-text h1
{
  color: #fff;
  font-weight: thin!important;
}

.overlay-offer {
    position: absolute;
    top: 0px!important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0a0a0aa6;
    border-radius: 12px;
}

.offer-icons {
    padding: 0px 0px;
}

.item img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; border-bottom: 7px solid#0a4996;
}



#special-offers .owl-nav, #tour-packages .owl-nav, #cruise-packages .owl-nav, #prefered-hotels .owl-nav {
 /* position: absolute;
  top: -14%;
  transform: translateY(-50%);
  width: 6%;
  right: 0px;*/
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  width: 100%;
}
#special-offers .owl-nav .owl-prev, #special-offers .owl-nav .owl-next, #tour-packages .owl-nav .owl-prev, #tour-packages .owl-nav .owl-next, #cruise-packages .owl-nav .owl-prev, #cruise-packages .owl-nav .owl-next,
#prefered-hotels .owl-nav .owl-prev, #prefered-hotels  .owl-nav .owl-next
 {
  position: relative;
  background: #ff000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
#special-offers .owl-nav .owl-prev, #tour-packages .owl-nav .owl-prev, #cruise-packages .owl-nav .owl-prev,
#prefered-hotels .owl-nav .owl-prev
 {
  left: -80px;
  float: left;
}
#special-offers .owl-nav .owl-next, #tour-packages .owl-nav .owl-next, #cruise-packages .owl-nav .owl-next,
#prefered-hotels .owl-nav .owl-next
 {
  float: right;
  right: -0px;
  /* top: -100%; */
  position: absolute;
  /* transform: translateY(-513%); */
}
#special-offers .owl-nav .owl-next:hover, #tour-packages .owl-nav .owl-next:hover #special-offers .owl-nav .owl-prev:hover, #tour-packages .owl-nav .owl-prev:hover, #cruise-packages .owl-nav .owl-prev:hover, #cruise-packages .owl-nav .owl-next:hover,
#prefered-hotels .owl-nav .owl-next:hover, #prefered-hotels .owl-nav .owl-prev:hover
 {
  transition: all 0.35s ease;
  background: #005fa5;
  color: #fff;
}
button:focus {
  outline: none!important;
}
#special-offers .owl-dots, #tour-packages .owl-dots, #cruise-packages .owl-dots {
  padding-top: 30px;
  display: none;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #1c4894!important;
}
#cruise-packages .owl-nav .owl-prev, #cruise-packages .owl-nav .owl-next,
#prefered-hotels .owl-nav .owl-prev, #prefered-hotels  .owl-nav .owl-next
 {
  border: 1px solid #fff;
  color: #fff;
}
/*--------------------------------------------------------------
# Cruise Packages
--------------------------------------------------------------*/
#cruise-packages {
  background-image: url(../img/05cruise%20package%20_paralex.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 50px 0px;
  position: relative;
  z-index: 999;
  background-position: fixed;
}
#cruise-packages .white-title-text h2, #prefered-hotels .white-title-text h2 {
  color: #fff!important;
  font-weight: 900;
  font-size: 2.9em;
  letter-spacing: 1px;
}
.white-title-text {
  height: 250px;
}
.cp-image-text h4 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  color: #000;
}
.ship-logo {
  max-width: 120px;
  border-bottom-left-radius: 0px!important;
  border-bottom-right-radius: 0px!important;
  border-radius: 0px!important;
  margin: auto;
  padding: 10px 0px 20px;
}
#cruise-packages .item-container, #prefered-hotels .item-container {
  background: #fff;
  color: #000;
  border-radius: 12px;
}
#cruise-packages .item-container img, #prefered-hotels .item-container img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


/*common slider css*/





.table-cruise-1 td
{
       vertical-align: top;
       padding: 5px;
}



.cruise-icons i
{
  padding: 5px;
  color: #ffac00;
}

.buttons-cruise
{
  margin-top: 20px;
  position:  absolute;
  top: 180%;
  left:  0;
  right:  0;
}

.cruise-btn
{
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  padding:15px 15px 15px 15px;
}



.table-cruise-lay-2 td
{
  border: 1px solid#fff;
  font-size: 12px;
  padding: 4px 15px 4px 15px;
}

.cruise-table-overlay 
{
position: absolute;
left: 50%;
top: 110%;
transform: translateX(-50%);
}


.cruise-mainsect-1
{
  border: 1px solid#d8d8d8;
  border-radius: 15px;
  margin-top: 25px;
}


.main-star-icons i
{
  color: #f65930;
  padding: 10px;
}


.overlay-text-cruise-4 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}


.form-control-cruise {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
}










.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}



.list-btns
{
  text-align: right;
}
.second-sel-cruise
{
  margin-top: 50px;
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
  border-radius:  15px;
}

.sidebar-links
{
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
  border-radius:  15px;
}

.padding-sidebar
{
  padding: 10px;
}

.promotion-slider
{
  box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
  border-radius:  15px;
}


.pack-list-btns
{
  

}
/*  anuja */
/*.category1 h6:before, .category2 h6:before, .category3 h6:before,
 .category4 h6:before,  .category5 h6:before,  .category6 h6:before,  .category7 h6:before,
  .category8 h6:before,  .category9 h6:before,  .category10 h6:before,  .category11 h6:before,  .category12 h6:before,  
  .category13 h6:before, .category14 h6:before,  .category15 h6:before
{
    
    font-family: "icomoon";
    font-size: 43px;
    position: relative;
    top: 13px;
    left: 0;

}
.category1 h6:before
{
  content: "\e928";	
}
.category2 h6:before
{
  content: "\e928";	
}
.category3 h6:before
{
	 content: "\e928";	
}

.category4 h6:before
{
	 content: "\e928";	
}
.category5 h6:before
{
	 content: "\e928";	
}.category6 h6:before
{
	 content: "\e928";	
}.category7 h6:before
{
	 content: "\e928";	
}.category8 h6:before
{
	 content: "\e928";	
}.category9 h6:before
{
	 content: "\e928";	
}
.category10 h6:before
{
	 content: "\e928";	
}
.category11 h6:before
{
	 content: "\e928";	
}
.category12 h6:before
{
	 content: "\e928";	
}.category13 h6:before
{
	 content: "\e928";	
}.category14 h6:before
{
	 content: "\e928";	
}
.category15 h6:before
{
	 content: "\e928";	
}*/
