/*
  Theme Name: Magic Tours
  Author: popartmedia.in
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	color: #444;
	font-family: 'Montserrat', sans-serif;
}

a {
	color: #f35e23;
	transition: 0.5s;
}
a:hover, a:active, a:focus {
	color: #f35e23;
	outline: none;
	text-decoration: none;
}
p {
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin: 0 0 10px 0;
	padding: 0;
}
.wrapper {
	/*	max-width:1280px;
	width:95%;*/
	margin: 0 auto;
	position: relative;
}
#topbar {
	background: linear-gradient( #006cb0, #02539cd6, #0063a8, #174995ed, #005ba1);
	padding: 3px 0px;
	border-bottom: 1px solid #05569e;
	font-size: 14px;
}
.featured-content h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.btn-1 {
	border: 1px solid #fff;
	padding: 5px 20px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	transition: all 0.35s ease;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar .social-links a, #topbar .contact-info a {
	display: inline-block;
	color: #fff;
	padding: 4px 12px;
	line-height: 1px;
	text-transform: capitalize;
}
/*--------------------------------------------------------------
# Top Bar Contact
--------------------------------------------------------------*/
.icon {
	float: left;
}
.contact-list p {
	font-size: 14px;
	margin-left: 12px;
	margin-bottom: 0;
	line-height: 17px;
	margin-top: 10px;
}
.box {
	display: inline-flex;
	align-items: center;
	padding: 5px 12px;
	border-right: 1px solid #d7d7d8cc;
	font-family: 'Montserrat', sans-serif;
}
.icon .fa {
	background: -webkit-gradient(linear, left top, left bottom, from(#0068ad), to(#0058a0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
}
.no-rp {
	border-right: none;
}
.cart {
	border: 1px solid #d3d4d5;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 6px;
}
.tour_items_number {
	background: #f46620;
	margin: auto 5px;
	border-radius: 50%;
	padding: 4px;
}
.cart .fa {
	color: #0069ad;
}
#topcontact {
	padding: 10px 0px;
}
.box span {
	font-weight: 600;
	background: -webkit-linear-gradient(#286eac, #1a4894);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	transition: all 0.5s;
	//z-index: 997;
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.scrollto img {
	width: 180px;
	display: inline-block;
	line-height: 1px;
}

header .nav-link {padding: 0;}
/*---------------------------------*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background:#fff;
  z-index:9999;
  transition:all 0.35s ease-in;
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.sticky + .content {
  padding-top: 102px;
}
.contact-selection-country
{
	border: 1px solid #fff;
    box-sizing: border-box;
    padding: 3px;
    border-radius: 12px;
    background: transparent;
    color: #ffff;
}
.contact-selection-country option { color:#000; }
/*--------------------------------------------------------------
# Titles, #Buttons, #Sections
--------------------------------------------------------------*/
.setion-title h2 {
	background: -webkit-gradient(linear, left top, right top, from(#1d4592), to(#006eb2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 900;
	font-size: 2.7em;
	letter-spacing: 1px;
	margin-bottom:  0px;
}
#featured h2 {
	color: #fff!important;
	-webkit-text-fill-color: #fff;
	position: relative;
}
.setion-title h4 {
	font-size: 20px;
	font-weight: 200;
	position: relative;
}
.btn-shade {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	background-image: linear-gradient(to right, #f67319 0%, #f35b24 51%, #f04a2c 100%);
	color: #fff;
	transition: 0.35 ease-in-out;
	margin-bottom: 20px;
}
.btn-n0-shade {
	background: transparent;
	color: #b1b3b5;
	border: 1px solid #b1b3b5;
	margin-bottom: 20px;
}
#prefered-hotels, #todays-destination, #testimonials, #special-offers, #exploreqatar, #tour-packages, #about-intro,
#packages
{
	padding-top: 80px;
	padding-bottom: 80px;
}
.content-area {
	padding-top: 30px;
}
.bottom-padding
{
	padding-bottom:50px; }
.btn {
	transition: 0.35s ease;
	text-transform: uppercase;
	font-size: 12px;
}
.btn-view {
	color: #fff;
	border: 1px solid #fff;
}
.btn-transparent {
	border: 1px solid #fff;
	color: #fff;
}
.boxed-item
{
	display:flex;
	align-items:center;
}
/*--------------------------------------------------------------
# navigation
--------------------------------------------------------------*/

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top:0px;
  padding-bottom:0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding:.5rem .5rem;
  margin:0 .25rem;
}

.navbar .navbar-nav > .nav-item {
    padding: 1.55em .5rem;
}


/* makes the dropdown full width  */
.navbar .dropdown {position:static; transition:all 0.35s ease;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top: 63px;
}
  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block!important; 
}
  
  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

  
}

}
/*--------------------------------------------------------------
# Swiper Slider
--------------------------------------------------------------*/

.banner-slider-text {
	 text-align:left;
	 color:#fff;

}
.banner-slider-text  h2
{
	 font-size:6vw;
	 font-weight:600;
}
.banner-slider-text  h4
{
	  font-size:4vw;
}
.banner-slider-text  p
{
	font-size: 2.1vmin;
}
.btn-slider { border:1px solid #fff; background:transparent; border-radius:20px; padding:12px; color:#fff;}
.btn-slider:hover { background:#fff; transition:all 0.35s ease; }
.btn-slider:last-child { margin-left:25px; }

/*slider text animations*/
/*slider text animations*/
.animated-text2
{
	  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

.animated-text2:nth-of-type(2)
{
	animation: showup 0.5s infinite;  transition:0.5s ease;
}
.animated-text2:nth-of-type(2)
{

	  width:0px;
  animation: reveal 0.5s infinite;  transition:0.5s ease;
}

.animated-text2:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 0.5s infinite;  transition:0.5s ease;
}

.animated-text2:last-of-type {
  width:0px;
  animation: reveal 3s infinite;
  transition:0.5s ease;
}

.animated-text2:last-of-type span {
  margin-left:-355px;
  animation: slidein 3s infinite;  transition:0.5s ease;
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
   	80% {opacity:0;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:1920px;}
    60% {opacity:1;}
	80%{opacity:0;}
    100% {opacity:0;width:1920px;}

}

/*--------------------------------------------------------------
# Special Offers
--------------------------------------------------------------*/
.overlay-offer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #0a0a0ad1;
	border-radius: 12px;
}
.image {
	display: block;
	width: 100%;
	height: auto;
}
.item-container {
	position: relative;
	width: 100%;
	cursor: pointer;
	margin-top: 40px;
}
.item-container:hover .overlay-offer {
	opacity: 6;
}
.overlay-text {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
}
.strong-text {
	font-size: 22px;
	font-weight: 400;
	padding-bottom: 10px;
}
.offer-icons span {
	font-size: 46px;
}
.offer-icons {
	padding: 24px 0px;
}
.overlay-text .buttons a {
	margin: auto 9px;
}
.item img {
	border-radius: 12px;
}
.overlay-full {
	width: 100%;
	left: 0!important;
	right: 0!important;
	top: 70%!important;
}
.overlay-full .text {
	min-height: 100px;
	box-sizing: border-box;
	padding: 15px;
	color: #fff;
}
.overlay-full p {
	font-family: 'Montserrat', sans-serif;
}
.trapezium {
	border-bottom: 40px solid #fd5c01;
	border-left: 16px solid #fb80010a;
	border-top-right: 50px solid transparent;
	height: 0;
	width: 36%;
	position: absolute;
	top: 60%;
	right: 0;
	transform: translateY(-65%);
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}
.offer-price {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	box-sizing: border-box;
}
#special-offers .owl-nav, #tour-packages .owl-nav, #cruise-packages .owl-nav, #prefered-hotels .owl-nav {
	position: absolute;
	top: 43%;
	transform: translateY(-50%);
	width: 100%;
}
#special-offers .owl-nav .owl-prev, #special-offers .owl-nav .owl-next, #tour-packages .owl-nav .owl-prev, #tour-packages .owl-nav .owl-next, #cruise-packages .owl-nav .owl-prev, #cruise-packages .owl-nav .owl-next,
#prefered-hotels .owl-nav .owl-prev, #prefered-hotels  .owl-nav .owl-next
 {
	position: relative;
	background: #ff000000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	border: 1px solid #000;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
#special-offers .owl-nav .owl-prev, #tour-packages .owl-nav .owl-prev, #cruise-packages .owl-nav .owl-prev,
#prefered-hotels .owl-nav .owl-prev
 {
	left: -80px;
	float: left;
}
#special-offers .owl-nav .owl-next, #tour-packages .owl-nav .owl-next, #cruise-packages .owl-nav .owl-next,
#prefered-hotels .owl-nav .owl-next
 {
	float: right;
	right: -80px;
}
#special-offers .owl-nav .owl-next:hover, #tour-packages .owl-nav .owl-next:hover #special-offers .owl-nav .owl-prev:hover, #tour-packages .owl-nav .owl-prev:hover, #cruise-packages .owl-nav .owl-prev:hover, #cruise-packages .owl-nav .owl-next:hover,
#prefered-hotels .owl-nav .owl-next:hover, #prefered-hotels .owl-nav .owl-prev:hover
 {
	transition: all 0.35s ease;
	background: #005fa5;
	color: #fff;
}
button:focus {
	outline: none!important;
}
#special-offers .owl-dots, #tour-packages .owl-dots, #cruise-packages .owl-dots {
	padding-top: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #fd5c01!important;
}
#cruise-packages .owl-nav .owl-prev, #cruise-packages .owl-nav .owl-next,
#prefered-hotels .owl-nav .owl-prev, #prefered-hotels  .owl-nav .owl-next
 {
	border: 1px solid #fff;
	color: #fff;
}
/*--------------------------------------------------------------
# Cruise Packages
--------------------------------------------------------------*/
#cruise-packages {
	background-image: url(../img/05cruise%20package%20_paralex.jpg);
	color: #fff;
	padding: 50px 0px;
	position: relative;
	z-index: 999;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#cruise-packages .white-title-text h2, #prefered-hotels .white-title-text h2 {
	color: #fff!important;
	font-weight: 900;
	font-size: 2.9em;
	letter-spacing: 1px;
	margin-top: 30px;
}
.white-title-text {
	height: 240px;
}
.cp-image-text h4 {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 500;
	color: #000;
}
.ship-logo {
	max-width: 120px;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
	border-radius: 0px!important;
	margin: auto;
	padding: 10px 0px 20px;
}
#cruise-packages .item-container, #prefered-hotels .item-container {
	background: #fff;
	color: #000;
	border-radius: 12px;
}
#cruise-packages .item-container img, #prefered-hotels .item-container img {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.cp-image-text {
	padding: 15px;
	box-sizing: border-box;
	color: #4b4b4d;
	font-size: 14px;
}
.cp-box {
	position: relative;
}
.icon-list {
	padding-left: 0px;
	display: flex;
	/* align-items: center; */
}
.icon-list li {
	display: inline-block;
	vertical-align: top;
	font-family: 'Montserrat', sans-serif;
}
.icon-list li .icon-country {
	font-size: 45px;
}
.ship-name .fa, .location .fa {
	font-size: 17px;
	color: #005ba1;
	padding-right: 15px;
	width: 40px;
	line-height: 30px;
	text-align: center;
}
.table tr td .icon-departures {
	font-size: 45px;
	position: absolute;
	left: 0;
	color: #005ba1;
}
/*--------------------------------------------------------------
# Tour Packages
--------------------------------------------------------------*/ 
.light-text {
	font-size: 18px;
	padding: 10px 0px 15px;
}
.checked {
    color: orange;
}

.package-amount
{
    position: absolute;
    justify-content: center;
    left: 0;
    right: 8px;
    margin: auto;
    font-size: 20px;
    color: #fff;
    top: 18px;
    }
.overlay-tp
	{
	top: 0;
	}
.btn-tp
	{
	right: -1px;
	width: 115px;
	height: 50px;
	transform: skew(179deg);
	border-bottom: 40px solid  #fd5c01;
	border-left: 16px solid transparent;
	position: relative;
	border-radius: 0px;
	/* border-bottom-right-radius: 12px; */
	top: -18px;
	}
	.btn.focus, .btn:focus { box-shadow:none!important; }
/*--------------------------------------------------------------
# Prefere Hotels
--------------------------------------------------------------*/ 
#prefered-hotels {
	background-image: url(../img/11hotel%20_paralex.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
}
#prefered-hotels h4 {
	color: #fff;
	font-size: 20px;
}
.strong-text {
	font-size: 18px;
}
.overlay-text .fa {
	font-size: 17px;
}
#prefered-hotels .price {
	font-size: 18px;
	padding: 20px 0px;
}
.btn-white:hover {
	background: #fff;
	transition: 0.35s ease-in-out;
}
.overlay-prefferd-hotels {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #065277e8;
	border-radius: 12px
}
.item-container:hover .overlay-prefferd-hotels {
	opacity: 6;
}
.item-caption 
{
	position:relative;
	box-sizing:border-box;
	font-size:14px;
	padding:15px;
}
.package-name
{

    padding-top: 15px;
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 15px;
}
.package-time
{
    padding-top: 15px;
    padding-right: 10px;
    font-size: 14px;
    padding-bottom: 15px;
}
/*--------------------------------------------------------------
# Explore Qatar
--------------------------------------------------------------*/
#exploreqatar img {
	height: 100%;
	width: 100%;
	border-radius: 12px;
}
#exploreqatar .text, .right-text {
	position: absolute;
	color: #fff;
	bottom: 30px;
	left: 30px;
	text-transform: uppercase;
	font-size: 16px;
	border-left: 2px solid #f4482d;
	padding-left: 15px;
	max-width: 85%;
}
#exploreqatar .text p, .right-text p, .overlay-text p, .overlay-full p {
	margin-bottom: 0px;
	text-transform: capitalize;
}
.text-overlay {
	background: #151414b8;
	position: absolute;
	margin: auto;
	left: 15px;
	right: 15px;
	top: 80%;
	bottom: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
/*--------------------------------------------------------------
--------------------------------------------------------------*/
#todays-destination {
	background-image: url(../img/17testbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.shadow-box {
	box-shadow: 0px 0px 24px 13px rgba(0, 0, 0, 0.11);
	border-radius: 10px;
	background: #fff;
	padding: 0px;
}
.no-lp {
	padding-left: 0px;
}
.rounded-image {
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}
.btn-shade:hover {
	transition: all 0.35s ease-in-out;
	background: transparent;
	color: #b1b3b5;
	border: 1px solid #b1b3b5;
}
.btn-n0-shade:hover {
	background-image: linear-gradient(to right, #f67319 0%, #f35b24 51%, #f04a2c 100%);
	color: #fff;
	transition: 0.35 ease-in-out;
}
/*--------------------------------------------------------------
# Featured 
--------------------------------------------------------------*/
#featured {
	background-image: url(../img/14featurebg.jpg);
	color: #fff;
	padding: 50px 0px;
	position: relative;
	z-index: 999;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.overlay-featured {
	background: -webkit-gradient(linear, left top, right top, from(#1c3473e6), to(#0079bdf2));
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
#featured h2, #explore-qatar h2, #tour-packages h2, #special-offers h2 {
	font-weight: 900;
	font-size: 2.9em;
	letter-spacing: 1px;
}
.sub-text {
	font-size: 20px;
}
.no-gutters {
	padding-left: 0px;
	padding-right: 0px;
}
.featured-content {
	box-sizing: border-box;
	padding: 26px;
}
#featured figure {
	marginb-bottom: 0px;
}
.im-icon {
	font-size: 40px;
}
.icon-box {
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}
.booking-list {
	padding-left: 0px;
	font-size: 14px;
	line-height: 30px;
}
.booking-list li {
	text-decoration: none;
	list-style: none;
	text-transform: capitalize;
}
.icon-box span {
	font-family: 'Montserrat', sans-serif;
}
.footer-contact h3 {
	font-size: 18px;
}
.booking-list li {
	position: relative;
}
.booking-list li:before {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #f15228;
	font-size: 13px;
	padding-right: 0.5em;
	position: absolute;
	left: 0;
	top: 2px;
}
.booking-list span {
	padding-left: 20px;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.test-icon-pre, .test-icon-next {
	color: #0760a5;
	font-size: 45px;
	font-weight: 900;
}
.setion-title p {
	background: -webkit-gradient(linear, left top, right top, from(#1d4592), to(#006eb2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 2.2em;
}
.btn-sub {
	padding: 12px 20px;
	border-radius: 8px;
	font-size: 12px;
	font-weight: 500;
}
.dashed-line {
/*	border-left: 1px dashed #4b4b4d;
	padding: 0px 15px;*/
}
#testimonialCarousel h3 {
	font-size: 15px;
	font-weight: 500;
	line-height: 28px;
	border-top: 1px solid #f25a25;
	padding-top: 15px;
	margin-bottom: 0px;
}
.cust-img {
	margin-bottom: 20px;
}
.subscribe-section { padding-left:60px; }
.prferedhotels {
	border: 1px solid #e2e2e2;
	box-sizing: border-box;
	padding: 18px  0px 15px 10px;
	font-size: 13px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.prferedhotelstext {
	font-weight:400;
	
}

/*--------------------------------------------------------------
               # ABOUT PAGE
--------------------------------------------------------------*/
.about-header
{
	position:relative;
	padding-top:120px;
	background-image:url(../img/contact-banner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}
.about-banner-title h1
{
	font-size: 7vw;
    font-weight: 900;
    color: #fff;
	text-transform:uppercase;
}
.about-banner-title  
{
  color: #fff;
}
.about-banner-title span
{

  color:#fff;
}
.about-banner-title span:before,
.about-banner-title span:after {
  content: '';
  display: block;
  width: 1000px;
  position: absolute;
  top:0;
  border-top: 1px solid #fff;
}
.about-banner-title span:before {
  right: 100%;
}
.about-banner-title span:after {
  left: 100%;
}
.about-inner-heading
{     margin-top: 20px; }
.about-inner-heading h3 {
    color: #144C94;
}
.red-hr-2
{
	width: 80px;
    border-bottom: 1px solid#f00;
    float: left;
}




/*--------------------------------------------------------------
               # PACKAGE PAGE
--------------------------------------------------------------*/
.package-search .form-control {  padding: 0px; }
input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;

}
#packages ul li input[type=checkbox], #packages ul li input[type=radio]
{
   margin-top: 15px;
}
.package-content h3
{
	 font-size: 1.5em;
    font-weight: 500;
	position:relative;
}
.package-content h3:after
{
 content: " ";
  border-bottom-style: solid;
  border-bottom-width:2px;
  display:table-cell;
  width:100px;
  border-color:#f4482d;
  padding-top:10px;
}
.package-destinations h3
{
	text-transform:capitalize;
    font-size: 1.3em;
	font-weight: 500;
    color: #fff;
    background: linear-gradient( #006cb0, #02539cd6, #0063a8, #174995ed, #005ba1);
    text-align: left;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


/*----------ist and grid*/
* {
    box-sizing: border-box;
}


/* Style the buttons */
/*.btn-list {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn-list:hover {
    background-color: #ddd;
}

.btn-list.active {
    background-color: #666;
    color: white;
}*/



.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
/*-------- magic tours packages item ---------*/
.mtp-item {
  position: relative;
  width: 50%;
}

.overlay-mtp{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#10141791;
  border-radius: 12px;
}

.mtp-item:hover .overlay-mtp {
  opacity: 1;
}



/*----------------------------*/
/*.list-grid-demo .glyphicon {
  margin-right: 5px;
}

@media only screen and (min-width: 481px) {
  .grid-group-wrapper.row {
    display: flex;
    flex-wrap: wrap;
  }

  .grid-group-wrapper.row:after,
  .grid-group-wrapper.row:before {
    display: flex;
  }

  .grid-group-wrapper.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
  .grid-group-wrapper.row .thumbnail,
  .grid-group-wrapper.row .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }
  .grid-group-wrapper.row .caption-text {
    flex-grow: 1;
  }
  .grid-group-wrapper.row img {
    width: 100%;
    height: auto;
  }
  .grid-group-wrapper.row .price-buy-spacing {
    display: flex;
    justify-content: space-between;
  }
  .grid-group-wrapper.row .price-buy-spacing .lead {
    margin-bottom: 0px;
  }
  .grid-group-wrapper.row .price-buy-spacing {
    margin-bottom: 10px;
  }

  .list-group-wrapper .item {
    float: none;
    width: 100%;
  }
  .list-group-wrapper .item:before,
  .list-group-wrapper .item:after {
    display: table;
    content: " ";
  }
  .list-group-wrapper .item:after {
    clear: both;
  }
  .list-group-wrapper .item .thumbnail img {
    margin-right: 10px;
    float: left;
  }
  .list-group-wrapper .item .caption,
  .list-group-wrapper .item .thumbnail {
    display: flex;
  }
  .list-group-wrapper .item .caption {
    flex-direction: column;
  }
  .list-group-wrapper .item .caption-text {
    flex-grow: 1;
  }
}
*/



/*--------------------------------------------------------------
          # MICE  Page
--------------------------------------------------------------*/
.mice-list { position:relative; list-style:none; }

/*--------------------------------------------------------------
# Sticky Sidebar
--------------------------------------------------------------*/
#sticky-sidebar {
    min-height: 50vh; 
}


/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar-links h3, .promotion-slider h3, .no-of-days h3
{
    text-transform: uppercase;
    font-size: 1.2em;
    color: #fff;
    background-image: linear-gradient(to right, #f67319 0%, #f35b24 51%, #f04a2c 100%);
    text-align: center;
    padding: 10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 0px;
}
.sidebar-links ul li a
{
	color: #231f20;
	font-size: 14px;
}
.sidebar-links ul li, .mice-list  li
{
	/*position:relative; list-style:none; line-height:50px; border-bottom:1px solid #CCC;*/
	position: relative;
	list-style: none;
	line-height: 22px;
	border-bottom: 1px solid #CCC;
	padding: 9px 0px 10px 0px;
	font-size: 14px;
}
 .mice-list  li { border:none!important; }
 .mice-list  li:before { position:absolute;     margin-left: -20px; }
.sidebar-links ul li:before, .mice-list  li:before
{
	content:"\f111";
	color: #bcbdc0;
	font-family:fontawesome;
	font-size:10px;
	margin-right: 15px;
}
.sidebar-links ul { padding-left:0px; }
.sidebar-links ul li:last-child { border-bottom:none; }
.sidebar-links ul li a:hover
{
	transition:all 0.35s ease; color:#f4482d;
}
.our-services-tabs .nav-pills .nav-link { border-radius:6px; }
.our-services-tabs .nav-pills .nav-link.active
{
	background:#f4482d; color:#fff; }
	.our-services-tabs li
	{
		margin: 5px 0px;
		border:1px solid #ccc;
		border-radius:6px;
		width: 49%;
	}
	
/*--------------------------------------------------------------
# Cruise
--------------------------------------------------------------*/	
	
.logo-item
{
	    border: 1px solid #80808057;
	    border-radius: 12px;
	    box-sizing: border-box;
	    padding: 15px 7px 15px 7px;
}
.cruise-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}
.cruice-logo img
{
    position: absolute;
    right: 15%;
    bottom: -14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.rplimg, footer {
	background-image: url("../img/footer.jpg");
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding:50px 0px;
}

.overlay {
	background: #000000a3;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.footer-contact {
	color: #fff;
}


	
.footer-list, .cont-info {
	padding-left: 15px;
}
.footer-list li, .cont-info li, .email, .web {
	position: relative;
	list-style: none;
	font-size: 14px;
}
.footer-list li:before {
	content: "\e929";
	position: absolute;
	font-family: icomoon;
	font-size: 50px;
	left: -36px;
	top: -14px;
	line-height: 50px;
	color: #f25627;
}
.cont-info li:before, .email:before, .web:before {
	position: absolute;
	font-family: icomoon;
	font-size: 40px;
	left: -36px;
	top: -14px;
	line-height: 50px;
	color: #f25627;
}
.cont-info li:before {
	content: "\e90e";
}
.cont-info li:last-child:before {
	content: "\e927";
}
.cont-info li {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
.cont-info li:first-child {
	padding-right: 30px;
}
.email:before {
	content: "\e90f";
	left: -21px;
	top: -14px;
}
.email, .web {
	padding-left: 15px;
	margin-bottom:0px;
}
.web:before {
	content: "\e928";
	left: -21px;
	top: -14px;
}
.footer-contents h3 {
	font-size: 16px;
	text-transform: capitalize;
	font-weight: 400;
}
.footer-contents { color:#fff; }

@media(max-width:768px)
{
	#special-offers .owl-nav, #tour-packages .owl-nav, #cruise-packages .owl-nav, #prefered-hotels .owl-nav
	{
		display:none; }



