.mega-menu {
	width: 800px;
	padding: 10px;
	overflow: hidden;
}
.sub-menu-item a {
	display: block;
	line-height: 30px;
	
}
.bg-white, .navbar .dropdown-menu {
	background: #fff!important;
	border-radius: 0;
	border: none; 
}
header {
	background: #e7e7e8;
}
.h-icon { font-size:50px; }
.nav-link
{
	color: #000;
    font-size: 14px;
}
.navbar-expand-lg .navbar-nav .nav-link
{
	    display: flex;
    align-items: center;
}
.nav-pills .nav-link.active {    
    color: #000;
    background-color: #e7e7e8;
}
.nav-pills .nav-link {
    border-radius: 0px;
}
.sub-menu-item a { position:relative;

	list-style: none;
	font-size: 14px; color:#000; }
.sub-menu-item a:before {
    content: "\e929";
    position: absolute;
    font-family: icomoon;
    font-size: 40px;
    left: -26px;
    top: -2px;
    line-height: 50px;
    color: #f25627;
	
}

/*---- search form -----*/
.search-form .form-group {
  float: left !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}


@media only screen and (max-width: 992px) {
    header {
    background: #fff;
}

.nav-item {
  padding:5px;
  border: 1px solid#e4e4e4;
}
}
