

@media only screen and (max-width: 992px) {
    
.setion-title h2 {
    background: -webkit-gradient(linear, left top, right top, from(#1d4592), to(#006eb2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 1.9em;
    letter-spacing: 1px;
}

.mrgn-fr-cntnt{
	margin-left: 10px!important;
}

.about-banner-title p:after, .about-banner-title  p:before {
       width: 18%!important;
}


.about-banner-title h1 {
    font-size: 6vh!important;
}

.search__field:focus {
    
    width: 82vw!important;
}

#cruise-packages .white-title-text {
    height: 200px!important;
}

.category1 h6:after {
    
    width: 34%!important;
    
    } 

 .category2 h6:after {
    
    width: 32%!important;
    
    }

 .category3 h6:after {
    
    width: 45%!important;
    
  }

  .category4 h6:after {
    
    width: 45%!important;
    
  }

  .category5 h6:after {
    
    width: 55%!important;
    
  }

  .category6 h6:after {
    
    width: 65%!important;
    
  } 

  .category7 h6:after {
    
    width: 30%!important;
    
  }

  .category8 h6:after {
    
    width: 40%!important;
    
  }

  .category9 h6:after {
    
    width: 45%!important;
    
  }

  .category10 h6:after {
    
    width: 40%!important;
    
  }

  .category11 h6:after {
    
    width: 35%!important;
    
  }

  .category12 h6:after {
    
    width: 65%!important;
    
  }

  .category13 h6:after {
    
    width: 65%!important;
    
  }

  .category14 h6:after {
    
    width: 55%!important;
    
  }

  .category15 h6:after {
    
    width: 35%!important;
    
  }

  .category16 h6:after {
    
    width: 35%!important;
    
  }

  .category17 h6:after {
    
    width: 35%!important;
    
  }

.news-letter-ovrlay {
   
    height: 90% !important;
    width: 89% !important;
    
    }

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #0760a5;
box-shadow: inset 0 0 5px grey; 
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f35e23;
  box-shadow: inset 0 0 5px grey;}
  
.box.cart span {
    background: #f35e23;
    color: #fff;
    -webkit-text-fill-color: #fff;
    padding: 1px 4px 1px 4px;
}

.cart p
{
	margin-left: 0;
	margin-top: 0px;
}

.mag-spec-off p{
	margin-bottom: 0;
}

.mag-spec-off{
	position: absolute;
	bottom: 0;
	background-color: #00000094;
	color: #fff;
	width: 100%;
	padding: 10px 0px 10px 20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

.item-container:hover .mag-spec-off {
	opacity: 0;
	
}

.item-container:hover .image-ovrtxt-pckages {
	opacity: 0;
	
}

.main-rates-orange{
	background-image: url("../img/magicpricebanner.png");
	width: 100%;
	height: 100%;
	position: absolute;
	right: -163px;
	top: 27px;
	background-repeat: no-repeat;
	padding: 9px 10px 10px 22px;
}

.tstlm-elmnt{
	max-width: 50px;
}

.anchor-icon i{
	font-size: 7vh;
	position: absolute;
	left: 80px;
	top: -12px;
}

.mag-sli-p{
    margin-bottom: 0px;
    margin-top: 0px;
}

.mag-sli-p i{
	color: #f35e23;
}

.table td
{
	padding: 1px 5px 1px 17px;
	border:none;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0rem;
    background-color: transparent;
}

.icon-country{
	color: #f35e23;
}

#tour-packages img {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border-bottom: 7px solid#0a4996; */
}

.item-container:hover {
    -webkit-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 33px -9px rgba(0,0,0,0.75);
    border-radius: 15px;
}

.blue-gradien-color{
	background-image: linear-gradient(to right, #25408f , #007cbd);
	padding: 4px;
	width: 100%;
}

.image-ovrtxt-pckages {
   
position: absolute;
   
bottom: 81px;
   
left: 0px;
   
background: linear-gradient(#00000005, #000000d4);
   
width: 100%;
   
padding: 10px 0px 0px 20px;
   
color: #fff;
}

.tds-dest-pad{
	padding: 20px;
}

.testi-arrows{
	position: absolute;
	bottom: -10px;
	left: 25px;
}

.mrgn-fr-cntnt{
	margin-left: -30px;
}

.ftr-company-pic{
	padding: 5px;
}

.ftr-brdr-cls{
    border-left: 2px solid#a9a9a999;
    padding-left: 25px;
}

.ftr-socio-icons{
	margin-top: 20px;
	z-index: 2;
}

.ftr-socio-icons a{
	width: 40px;
	height: 40px;
	color: #fff;
	padding: 8px 0px 14px 12px;
	border:1px solid #fff;
	border-radius: 50%;
	display:  inline-block;
	margin-right: 5px;
}

.ftr-copyright p{
	color: #fff;
}

.ftr-copyright{
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	z-index: 2;

}

#testimonials {
    background-image: url(../img/17testbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.padd-cls{
	padding: 25px 15px 15px 15px;
}

.owl-nav .owl-next {
    background-image: url(../img/arrow-next.png);
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#packages p, ul li{
	font-size: 14px;
}


#packages .sidebar-links ul li, .mice-list li {
    position: relative;
    list-style: none;
    line-height: 22px;
    border-bottom: 1px solid #CCC;
    padding: 9px 0px 10px 0px;
    font-size: 14px;
}

.about-banner-title a{
	color: #fff;
	font-weight: bold;
}

.tab-pane img{
	border-radius: 15px;
}

.our-services-tabs ul li a{
	font-size: 13px;
}

.our-services-tabs li:nth-child(2n+1){
	margin-right: 2%;
}


.career-content ul li:before {
    content: "\f111";
    position: relative;
    font-family: FontAwesome;
    right: 28px;
    top: 0px;
    font-size: 5px;
    color: red;
}

.checkbox label{
	padding: 10px 15px 9px 15px;
	background-color: #ececec;
	border-radius: 10px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 5px;
}

.testi-inner-image img{
    max-width: 84px;
}


.about-banner-title p:after, .about-banner-title  p:before {
    content: "";
    width: 25%;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    top: 17px;
}

.about-banner-title  p{
	position: relative;
	font-size: 18px;
}
.about-banner-title  p:after {
    right: 0;
}

.about-banner-title h1 {
    font-size: 9vh;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 33px;
    margin-top: -20px;
    border-top: 0;
    margin-bottom: 0;
}


#tour-packages .owl-nav .owl-next, #special-offers .owl-nav .owl-next {
    background: url(../img/arrow-right.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#tour-packages .owl-nav .owl-prev, #special-offers .owl-nav .owl-prev {
    background: url(../img/arrow-left.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#tour-packages .owl-nav .owl-next:hover, #special-offers .owl-nav .owl-next:hover {
    background: url(../img/arrow-right-clicked.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#tour-packages .owl-nav .owl-prev:hover, #special-offers .owl-nav .owl-prev:hover {
    background: url(../img/arrow-left-clicked.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#tour-packages .owl-nav .owl-next span, #special-offers .owl-nav .owl-next span {
    display: none;
}

#tour-packages .owl-nav .owl-prev span, #special-offers .owl-nav .owl-prev span {
    display: none;
}

.pack-check-head{background: linear-gradient( #006cb0, #02539cd6, #0063a8, #174995ed, #005ba1);width:  100%;padding: 8px 0px 0px 12px;border-top-left-radius:  15px;border-top-right-radius:  15px;/* margin-top: 50px; */}

.pack-check-head h5{
color:  #fff;
}


.check-box-pack-inn{
    width: 100%;
    padding:  16px;
    border-top: 1px solid #9a9a9a26;
}

.check-box-pack-inn h5{
    color: #f35e23;
}

.pack-main-cont-cls{
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.25);
    margin-top:  50px;
    border-radius:  15px;
}

.search {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.search * {
  outline: none;
  box-sizing: border-box;
}
.search__wrapper {
  position: relative;
}
.search__field {
  width: 50px;
  height: 38px;
  color: transparent;
  
  font-size: 14px;
  padding: 0.35em 50px 0.35em 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search__field:focus {
  border: 1px solid #dadada;
  width: 28vw;
  color: #000000;
  cursor: default;
  padding-left: 10px;
  border-radius: 15px;
}
.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
}
.search__icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #efefef;
  width: 38px;
  height: 38px;
  font-size: 1.35em;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
  color: #f4482d;
}
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

.pack-gri-lis-l-c{
    margin-top: 50px;
}

.pack-gri-lis-l-c p{
    color: #999;
}


.carousel-caption{
    position: absolute;
    top: 20%;
    left: 15%;
}

.carousel-caption h1{
    font-weight: 900;
    font-size: 10vh;
    margin-bottom: 0;
    animation-delay: 1s;
}

.carousel-caption h2{
    
    font-size: 9vh;
    animation-delay: 2s;
}

.carousel-caption p{
    
    animation-delay: 3s;
}

.carousel-caption a{
    
    animation-delay: 4s;
}


#cruise-packages .owl-nav .owl-next, #prefered-hotels .owl-nav .owl-next, #tour-packages .owl-nav .owl-next {
    background: url(../img/arrow-right-white.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#cruise-packages .owl-nav .owl-prev, #prefered-hotels .owl-nav .owl-prev, #tour-packages .owl-nav .owl-prev {
    background: url(../img/arrow-left-white.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#cruise-packages .owl-nav .owl-next:hover, #prefered-hotels .owl-nav .owl-next:hover, #tour-packages .owl-nav .owl-next:hover {
    background: url(../img/arrow-right-clicked-white.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#cruise-packages .owl-nav .owl-prev:hover, #prefered-hotels .owl-nav .owl-prev:hover, #tour-packages .owl-nav .owl-prev:hover {
    background: url(../img/arrow-left-clicked-white.png) no-repeat center center;
    background-size: contain;
    border: 0;
}

#cruise-packages .owl-nav .owl-next span, #prefered-hotels .owl-nav .owl-next span, #tour-packages .owl-nav .owl-next span {
    display: none;
}

#cruise-packages .owl-nav .owl-prev span, #prefered-hotels .owl-nav .owl-prev span, #tour-packages .owl-nav .owl-prev span {
    display: none;
}



.testi-arrows{
    position: absolute;
    bottom: 30px;
    left: 67px;
}

.testi-arrows a{
    padding-right: 10px;
}

.testi-arrows img{
    max-width: 30px;
}

#cruise-packages .white-title-text {
    height: 400px;
}

.marg-testi{
    margin-left: 20px;
}



#air-chrtr .category2 p
{
  color: #2d2d2d;
}

#promo-magic .category2 p
{
  color: #fff;
}



#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: .5s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


.servi-inside-back{
    padding: 0px;
    border: 1px solid #333;
    border-radius: 15px;
    margin-top: 25px;

}

.servi-inside-back img{
  border-radius: 15px;
}

.responsive-menu-brop{
  color: red;
}

.main-list-mmenu{
  color: #0760a5!important;
  font-weight: bolder;
  /*border-bottom: 1px solid #f35e23;*/
}

.pcke-inn-left-img{
  position: absolute;
  left: 10px;
  top: 0px;
  max-width: 25px;
}

.arrive-cls{
  position: relative;
}

.ctgry-g-mrgn{
  margin-left: 40px;
}

.arrive-icon-img {
    position: absolute;
    left: -46px;
    top: -5px;
    max-width: 35px;
}

.mrgin-ri-clst{
  margin-right: 35px;
}

.news-prev-inner{
  padding: 20px;
}

.news-prev-inner img{
  border-radius: 15px;
}


.news-prev-inner {
  position: relative;
  
}

.image-news-c {
  display: block;
  width: 100%;
  height: auto;
  border-radius:  15px;
}

.news-c-overlay {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 16px;
  right: 0;
  height: 93%;
  width: 92%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000008c;
  border-radius: 15px;
}

.news-c-inner-img:hover .news-c-overlay {
  opacity: 1;
}

.news-c-inner-img
{
  margin-top: 25px;
}

.news-c-over-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:  100%;
}


.btn-pro-inner
{
  color: #f4482d;
  background-color: #fff;
  padding: 15px 15px 15px 15px;
  border-radius: 15px;

}
  

.news-test-heading h3{
  color: #144C94;
}  

.red-hr-center {
    width: 80px;
    border-bottom: 1px solid#f00;
    /* text-align: left; */
    
}

.testi-prev-items{
  padding: 50px 0px 50px 0px;
}

@media (min-width: 768px) {

    /* show 3 items */
    #cruise-packs-c .carousel-inner .active,
    #cruise-packs-c .carousel-inner .active + .carousel-item,
    #cruise-packs-c .carousel-inner .active + .carousel-item + .carousel-item,
    #cruise-packs-c .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
        display: block;
    }
    
    #cruise-packs-c .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    #cruise-packs-c .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    #cruise-packs-c .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    #cruise-packs-c .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    #cruise-packs-c .carousel-inner .carousel-item-next,
    #cruise-packs-c .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    #cruise-packs-c .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    #cruise-packs-c .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    #cruise-packs-c .carousel-item-next.carousel-item-left + .carousel-item,
    #cruise-packs-c .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    #cruise-packs-c .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    #cruise-packs-c .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    #cruise-packs-c .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    #cruise-packs-c .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    #cruise-packs-c .carousel-item-prev.carousel-item-right + .carousel-item,
    #cruise-packs-c .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    #cruise-packs-c .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    #cruise-packs-c .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

 /* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}



.brdr-grey{
    border: 1px solid #d8d8d8;
    border-radius: 15px;
}
.about-image img {
    border-radius: 15px;
}
.btn-pro-inner-news {
    color: #f4482d;
    background-color: #fff;
    padding: 15px 35px 15px 35px;
    border-radius: 15px;
}

.checkbox{
  padding:10px;
}
.check-box-pack-inn label{
    padding: 10px 15px 9px 15px;
    background-color: #ececec;
    border-radius: 10px;
}

.services-i-image img{
  border-radius: 15px;
}
.pcks-inn-types ul li{
  display: inline;
  padding: 10px;
}
.pcks-inn-types{
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-top: 20px;
}
.pcks-inn-types h3{
  color: #f35e23;
  margin-top: 10px;
}

#myModal {
    top: 100px;
}
.modal-body{
    padding: 50px;
  }
#myModal input{
  
padding:  10px;
  
font-size:  14px;
  
width:  100%;
  
border-radius:  10px;
  
border: 1px solid #999;
margin-top: 10px;
}
#myModal textarea{
  
padding:  10px;
  
font-size:  14px;
  
width:  100%;
  
border-radius:  10px;
  
border: 1px solid #999;
margin-top: 10px;
}
#myModal img{
  max-width: 200px;
}
#myModal h4{
  font-weight: bold;
  color: #f35e23;
}
#ribbon-container {
        position: absolute;
        top: 15px;
        right: -16px;
        overflow: visible; /* so we can see the pseudo-elements we're going to add to the anchor */
        font-size: 18px; /* font-size and line-height must be equal so we can account for the height of the banner */
        line-height: 18px;
      }
      
      #ribbon-container:before {
        content:"";
        height: 0;
        width: 0;
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
        border-top: 29px solid rgba(0,0,0,.3); /* These 4 border properties create the first part of our drop-shadow */
        border-bottom: 29px solid rgba(0,0,0,.3); 
        border-right: 29px solid rgba(0,0,0,.3);
        border-left: 29px solid transparent;
      }
      
      #ribbon-container:after { /* This adds the second part of our dropshadow */
        content:"";
        height: 3px;
        background: rgba(0,0,0,.3);
        display: block;
        position: absolute;
        bottom: -3px;
        left: 58px;
        right:3px;
      }
      
      #ribbon-container a {
        display:block;
        padding:20px;
        position:relative; /* allows us to position our pseudo-elements properly */
        background:#ff0000;
        overflow:visible;
        height:58px;
        margin-left:29px;
        color:#fff;
        text-decoration:none;
      }
      
      #ribbon-container a:after { /* this creates the "folded" part of our ribbon */
        content:""; 
        height: 0;
        width: 0;
        display:block;
        position:absolute;
        bottom:-15px;
        right:0;
        border-top: 15px solid #004a70; 
        border-right: 15px solid transparent;
      }
      
      #ribbon-container a:before { /* this creates the "forked" part of our ribbon */
        content:"";
        height: 0;
        width: 0;
        display:block;
        position:absolute;
        top:0;
        left:-29px;
        border-top: 29px solid #ff0000; 
        border-bottom: 29px solid #ff0000; 
        border-right: 29px solid transparent;
        border-left: 29px solid transparent;
      }
      
      #ribbon-container a:hover {
        background:#009ff1;
      }
      
      #ribbon-container a:hover:before { /* this makes sure that the "forked" part of the ribbon changes color with the anchor on :hover */
        border-top: 29px solid #009ff1; 
        border-bottom: 29px solid #009ff1;
      }

      #dubai-address, #kochi-address{
        display: none;
      }
/*.speci-ribbon{
  position: absolute;
  bottom: 334px;
  right: -4px;
}
.speci-ribbon img{
  border: 0;
}*/