/*
  Theme Name: Magic Tours
  Author: popartmedia.in
*/
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	color: #444;
	font-family: 'Raleway', sans-serif;
}
a {
	color: #f35e23;
	transition: 0.5s;
}
a:hover, a:active, a:focus {
	color: #f35e23;
	outline: none;
	text-decoration: none;
}
p {
	padding: 0;
	margin: 0 0 30px 0;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin: 0 0 10px 0;
	padding: 0;
}
#topbar {
	background: linear-gradient( #006cb0, #02539cd6, #0063a8, #174995ed, #005ba1);
	padding: 7px 0px;
	border-bottom: 1px solid #05569e;
	font-size: 14px;
}
.featured-content h3 {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.btn-1 {
	border: 1px solid #fff;
	padding: 5px 20px;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 600;
	color: #fff;
	transition: all 0.35s ease;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar .social-links a, #topbar .contact-info a {
	display: inline-block;
	color: #fff;
	padding: 4px 12px;
	line-height: 1px;
	text-transform: capitalize;
}
/*--------------------------------------------------------------
# Top Bar Contact
--------------------------------------------------------------*/
.icon {
	float: left;
}
.contact-list p {
	font-size: 14px;
	margin-left: 30px;
	margin-bottom: 0;
	line-height: 24px;
}
.box {
	display: inline-flex;
	align-items: center;
	padding: 5px 12px;
	border-right: 1px solid #d7d7d8cc;
	font-family: 'Montserrat', sans-serif;
}
.icon .fa {
	background: -webkit-gradient(linear, left top, left bottom, from(#0068ad), to(#0058a0));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 20px;
}
.no-rp {
	border-right: none;
}
.cart {
	border: 1px solid #d3d4d5;
	box-sizing: border-box;
	padding: 10px;
	border-radius: 6px;
}
.tour_items_number {
	background: #f46620;
	margin: auto 5px;
	border-radius: 50%;
	padding: 4px;
}
.cart .fa {
	color: #0069ad;
}
#topcontact {
	padding: 20px 0px;
}
.box span {
	font-weight: 600;
	background: -webkit-linear-gradient(#286eac, #1a4894);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	padding: 20px 0;
	height: 84px;
	transition: all 0.5s;
	z-index: 997;
	background: #fff;
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.scrollto img {
	width: 180px;
	display: inline-block;
	line-height: 1px;
}

/*--------------------------------------------------------------
# SPECIAL OFFERS 
--------------------------------------------------------------*/

#special-offers .carousel-inner .carousel-item-right.active,
#special-offers .carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

#special-offers .carousel-inner .carousel-item-left.active, 
#special-offers .carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}
  
#special-offers .carousel-inner .carousel-item-right,
#special-offers .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/*--------------------------------------------------------------
# TOUR PACKAGES 
--------------------------------------------------------------*/
#tour-packages h2 , #special-offers h2{
	background: -webkit-gradient(linear, left top, right top, from(#1d4592), to(#006eb2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* package carousel 
@media (min-width: 768px) {
/* show 3 items 
.carousel-inner .active,  .carousel-inner .active + .carousel-item,  .carousel-inner .active + .carousel-item + .carousel-item,  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
	display: block;
}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
	transition: none;
}
.carousel-inner .carousel-item-next,  .carousel-inner .carousel-item-prev {
	position: relative;
	transform: translate3d(0, 0, 0);
}
.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	position: absolute;
	top: 0;
	right: -25%;
	z-index: -1;
	display: block;
	visibility: visible;
}
/* left or forward direction 
.active.carousel-item-left + .carousel-item-next.carousel-item-left,  .carousel-item-next.carousel-item-left + .carousel-item,  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	position: relative;
	transform: translate3d(-100%, 0, 0);
	visibility: visible;
}
/* farthest right hidden item must be abso position for animations 
.carousel-inner .carousel-item-prev.carousel-item-right {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: block;
	visibility: visible;
}
/* right or prev direction 
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,  .carousel-item-prev.carousel-item-right + .carousel-item,  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
	position: relative;
	transform: translate3d(100%, 0, 0);
	visibility: visible;
	display: block;
	visibility: visible;
}
}
/* Bootstrap Lightbox using Modal 

#profile-grid {
	overflow: auto;
	white-space: normal;
}
#profile-grid .profile {
	padding-bottom: 40px;
}
#profile-grid .panel {
	padding: 0
}
#profile-grid .panel-body {
	padding: 15px
}
#profile-grid .profile-name {
	font-weight: bold;
}
#profile-grid .thumbnail {
	margin-bottom: 6px;
}
#profile-grid .panel-thumbnail {
	overflow: hidden;
}
#profile-grid .img-rounded {
	border-radius: 4px 4px 0 0;
}
/*---  tour packages hover ----
.carousel-item-overlay {
	position: relative;
	width: 100%;
}
.panel-thumbnail .thumb img {
	display: block;
	width: 100%;
	height: auto;
}
.package-content-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #000000a3;
}
.carousel-item-overlay:hover .package-content-overlay {
	opacity: 1;
}
.overlay-text {
	color: white;
	font-size: 20px;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-sizing: border-box;
	padding: 15px;
}
.overlay-text p {
	font-weight: 500;
	font-size: 18px;
	margin: auto;
}
.overlay-text p.places 
{
    font-size: 14px;
    font-weight: 100;
}
.overlay-text span
{
	    font-size: 38px;
    display: inline-block;
}
.btn-2
{
	background: transparent;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 0px;
}
.icon-box a:first-child { margin-right:10px;     width: 120px;
    justify-content: center; } */

/*--------------------------------------------------------------
# Prefered Hotels
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Explore Qatar 
--------------------------------------------------------------*/
#explore-qatar h2 {
	background: -webkit-gradient(linear, left top, right top, from(#1d4592), to(#006eb2));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.image-wrapper {
	position: relative;
	width: 100%;
	height: 320px;
	overflow: hidden;
}
.item {
	position: absolute;
	top: 0;
	left: 0;
}
.item img {
	-webkit-transition: 0.6s ease;
	transition: 0.6s ease;
}
.image-wrapper:hover .item img {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.image-text {
	position: absolute;
	color: #fff;
	bottom: 20px;
	left: 15px;
	border-left: 2px solid red;
	padding-left: 10px;
}
/*--------------------------------------------------------------
# Featured 
--------------------------------------------------------------*/
#featured {
	background-image: url(../img/14featurebg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	padding: 50px 0px;
	position: relative;
	z-index: 999;
}
.overlay-featured {
	background: -webkit-gradient(linear, left top, right top, from(#1c3473e6), to(#0079bdf2));
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
#featured h2, #explore-qatar h2, #tour-packages h2, #special-offers h2 {
	font-weight: 900;
	font-size: 2.9em;
	letter-spacing: 1px;
}
.sub-text {
	font-size: 20px;
}
.no-gutters {
	padding-left: 0px;
	padding-right: 0px;
}
.featured-content {
	box-sizing: border-box;
	padding: 26px;
}
#featured figure {
	marginb-bottom: 0px;
}
.im-icon {
	font-size: 40px;
}
.icon-box {
	display: flex;
	align-items: center;
	margin-bottom: 0px;
}
.booking-list {
	padding-left: 0px;
	font-size: 14px;
	line-height: 30px;
}
.booking-list li {
	text-decoration: none;
	list-style: none;
	text-transform: capitalize;
}
.icon-box span {
	font-family: 'Raleway', sans-serif;
}
.footer-contact h3 {
	font-size: 18px;
}
.booking-list li {
	position: relative;
}
.booking-list li:before {
	content: "\f054";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: #f15228;
	font-size: 13px;
	padding-right: 0.5em;
	position: absolute;
	left: 0;
	top: 2px;
}
.booking-list span {
	padding-left: 20px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.rplimg {
	background-image: url("../img/footer.jpg");
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.overlay {
	background: #000000a3;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.footer-contact {
	color: #fff;
}
