.package-small-image{
	width:269px;
	height: 210px;
}
.package-large-img{
	width:800px;
	height:300px;
}
.hotel-small-image{
	width:230px;
	height:180px;
}
.cruise-small-image{
	width:350px;
	height:200px;
}
.search-filter-ul{
	list-style:none;
	padding-left:0 !important;
}
.search-filter-ul li{
	float: left;
	padding-right: 5px;
	
}
.search-filter-ul p{
	color: #ffffff;
    background-color: #f14d2b;
    padding: 2px;
    border-radius: 3px;
}
.search-filter-p{
	width:30%;
	float:left; 
}
.itinerary-day{
	color: #fdfdfd;
    background-color: #f4472c;
   	width:200px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    left: -46px;
    top: -5px;
    max-width: 39px;
}
.itinerary-span-day{
	    font-size: 7px;
    font-weight: bold;
}
.itinerary-span-day-no{
    font-size: 16px;
    font-weight: 800;
    line-height:6px;
}