@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon2.eot?c8tki0');
  src:  url('../fonts/icomoon2.eot?c8tki0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon2.ttf?c8tki0') format('truetype'),
    url('../fonts/icomoon2.woff?c8tki0') format('woff'),
    url('../fonts/icomoon2.svg?c8tki0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-blackout:before {
  content: "\e900";
}
.icon-bookingpolicy:before {
  content: "\e901";
}
.icon-breakfast:before {
  content: "\e902";
}
.icon-cancelation:before {
  content: "\e903";
}
.icon-cities:before {
  content: "\e904";
}
.icon-country:before {
  content: "\e905";
}
.icon-departuredates:before {
  content: "\e906";
}
.icon-dinner:before {
  content: "\e907";
}
.icon-FAQ:before {
  content: "\e908";
}
.icon-fixeddepature:before {
  content: "\e909";
}
.icon-FlightsDetails:before {
  content: "\e90a";
}
.icon-highlights:before {
  content: "\e90b";
}
.icon-hotel-name:before {
  content: "\e90c";
}
.icon-HotelsUsed:before {
  content: "\e90d";
}
.icon-important-contact:before {
  content: "\e90e";
}
.icon-inclusion:before {
  content: "\e90f";
}
.icon-Itinerary:before {
  content: "\e910";
}
.icon-journeyoverview:before {
  content: "\e911";
}
.icon-links:before {
  content: "\e912";
}
.icon-map:before {
  content: "\e913";
}
.icon-offervalidity:before {
  content: "\e914";
}
.icon-proce:before {
  content: "\e915";
}
.icon-TrainDetails:before {
  content: "\e916";
}
.icon-Travel-in-Cab:before {
  content: "\e917";
}
.icon-visa:before {
  content: "\e918";
}
