@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?oib2ow');
  src:  url('../fonts/icomoon.eot?oib2ow#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?oib2ow') format('truetype'),
    url('../fonts/icomoon.woff?oib2ow') format('woff'),
    url('../fonts/icomoon.svg?oib2ow#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flight:before {
  content: "\e92a";
}
.icon-fb:before {
  content: "\e900";
}
.icon-tweet:before {
  content: "\e901";
}
.icon-gplus:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-IND .path1:before {
  content: "\e904";
  color: rgb(255, 106, 30);
}
.icon-IND .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-IND .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(63, 172, 73);
}
.icon-UAE .path1:before {
  content: "\e907";
  color: rgb(24, 24, 24);
}
.icon-UAE .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-UAE .path3:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 124, 62);
}
.icon-UAE .path4:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(246, 42, 41);
}
.icon-QATAR .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
}
.icon-QATAR .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(144, 0, 54);
}
.icon-dropdown:before {
  content: "\e90d";
}
.icon-callus:before {
  content: "\e90e";
}
.icon-mailus:before {
  content: "\e90f";
}
.icon-locateus:before {
  content: "\e910";
}
.icon-cart:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e912";
}
.icon-home:before {
  content: "\e913";
}
.icon-leftbutton:before {
  content: "\e914";
}
.icon-rightbutton:before {
  content: "\e915";
}
.icon-righthover:before {
  content: "\e916";
}
.icon-lefthover:before {
  content: "\e917";
}
.icon-hotel:before {
  content: "\e918";
}
.icon-fod:before {
  content: "\e919";
}
.icon-adventur:before {
  content: "\e91a";
}
.icon-tour:before {
  content: "\e91b";
}
.icon-moreview:before {
  content: "\e91c";
}
.icon-addtocart:before {
  content: "\e91d";
}
.icon-crusiename:before {
  content: "\e91e";
}
.icon-cities:before {
  content: "\e91f";
}
.icon-departures:before {
  content: "\e920";
}
.icon-country:before {
  content: "\e921";
}
.icon-fullstar:before {
  content: "\e922";
}
.icon-halfstar:before {
  content: "\e923";
}
.icon-nostar:before {
  content: "\e924";
}
.icon-tesimonials:before {
  content: "\e925";
}
.icon-navigationtotop:before {
  content: "\e926";
}
.icon-fax:before {
  content: "\e927";
}
.icon-web:before {
  content: "\e928";
}
.icon-arrows:before {
  content: "\e929";
}
